<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card-body">
                <h1>
                    <center>Usuarios</center>
                </h1>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">directiva</th>
                            <th scope="col">concepto</th>
                            <th scope="col">descripcion</th>
                            <th scope="col">valor</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each egresos}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{directiva}}</td>
                            <td>{{concepto}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{valor}}</td>
                            <td>
                                <a href="/egresos/delete/{{id}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> volver a opciones</h5>
                            <a href="/opciones/opciones" class="btn btn-primary">Ir Aqui...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Registrar</h5>
                            <a href="/egresos/add" class="btn btn-primary">Ir Aqui...</a>
                        </div>
                    </div>
                </div>